flows6.json
[{"id":"6f7cd9b8.831f98","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"183a89c.e8e9876","type":"inject","z":"6f7cd9b8.831f98","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["d837b4f.e531f48"]]},{"id":"e39f7982.49a438","type":"inject","z":"6f7cd9b8.831f98","name":"","topic":"","payload":",,20.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["d837b4f.e531f48"]]},{"id":"d837b4f.e531f48","type":"mqtt out","z":"6f7cd9b8.831f98","name":"","topic":"mcs/D7BmZdTH/d0TP6aeoTqdJJUhp/MQTT","qos":"","retain":"","broker":"5f867489.e2910c","x":440,"y":180,"wires":[]},{"id":"5f867489.e2910c","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]