flows7.json
[{"id":"4e4c314e.8ebb3","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"1ed6620d.df5e9e","type":"mqtt in","z":"4e4c314e.8ebb3","name":"","topic":"mcs/D7BmZdTH/d0TP6aeoTqdJJUhp/MQTT","qos":"2","datatype":"auto","broker":"5f867489.e2910c","x":200,"y":100,"wires":[["e82847d.10eefb8"]]},{"id":"e82847d.10eefb8","type":"csv","z":"4e4c314e.8ebb3","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":290,"y":200,"wires":[["d32df687.ce0bc8"]]},{"id":"d32df687.ce0bc8","type":"change","z":"4e4c314e.8ebb3","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":320,"wires":[["d928ac16.fa816"]]},{"id":"d928ac16.fa816","type":"ui_gauge","z":"4e4c314e.8ebb3","name":"","group":"1eabdc32.515984","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":380,"wires":[]},{"id":"5f867489.e2910c","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1eabdc32.515984","type":"ui_group","z":"","name":"[Tab 1]Status","tab":"66281cb6.e66dc4","disp":true,"width":"6","collapse":false},{"id":"66281cb6.e66dc4","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":1,"disabled":false,"hidden":false}]